:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: rgb(231, 231, 235);
  background: radial-gradient(circle, rgba(231, 231, 235, 0.7960434173669468) 0%, rgba(129, 236, 199, 0.7736344537815126) 69%, rgba(0, 155, 255, 0.7372198879551821) 100%);
  color: var(--mainDark) !important;
}

a {
  color: var(--mainWhite) !important;
}

.text-title {
  font-family: 'Permanent Marker', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue) !important;
}

.text-bright {
  color: var(--lightBlue) !important;
}

.text-yellow {
  color: var(--mainYellow) !important;
}